.theme-color{color: #99cc99 !important;}
.theme-bgcolor{background-color: #99cc99 !important;}
.theme-borcolor{border-color: #99cc99 !important;}
.info1 .info1-hide{background: rgba(153, 204, 153, 0.6);}